{% extends "record/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'record/add_bill.css' %}">
{% endblock %}

{% block content %}

<div class="container">
  <br><br>
  <form method="post">
    <div class="container">{% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-outline-primary">Add</button></div>
  </form>
  <br>
  <p>
    You can share you group name and password to other in your organisation to record all transactions.
  </p>
</div>

{% endblock %}